<div class="row" id="profile-wrapper">
  <div class="well col-xs-12 col-md-10 col-md-offset-1">
    <div class="row">
      <div id="profile-avatar" class="col-xs-12 col-md-4">
        <% if @profile.avatar.present? %>
          <%= image_tag @profile.avatar.url(:medium) %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-8">
        <h2><%= @profile.user.full_name %>'s Profile</h2>
        <% if current_user == @profile.user %>
          <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
    <div class="row">
    
      <div class="row getaway">
        <div class="col-sm-2" style="margin-bottom: 3px;">
          <% if user_signed_in? %>
            <% if current_user.voted_for? @profile %>
              <%= link_to "<i class='fa fa-heart fa-2x like-heart'></i>".html_safe,
              profile_like_path(@profile), method: :post, id: "like-container",
              class: "pulse animated infinite", remote: true %>
            <% else %>
              <%= link_to "<i class='fa fa-heart-o fa-2x like-heart'></i>".html_safe, 
              profile_like_path(@profile), method: :post, id: "like-container", remote: true %>
            <% end %>
          <% end %>
          <span class="badge like-count"><%= number_of_likes(@profile) %></span>
        </div>
      </div>
      
      <div class="col-sm-8 col-sm-offset-2">
        <p><%= simple_format @profile.bio %></p>
      </div>

      <hr>

      <div class="col-sm-6">
        <h3>5 Most Recent Liked Reviews</h3>
        <% @liked_reviews.each do |review| %>
          <div class="well">
            <h4><%= link_to truncate(review.title, length: 40), eatery_review_path(review.eatery, review) %></h4>
          </div>
        <% end %>
      </div>

      <div class="col-sm-6">
        <h3>5 Most Recent Liked Eateries</h3>
        <% @liked_eateries.each do |eatery| %>
          <div class="well">
            <h4><%= link_to eatery.name, eatery_path(eatery) %></h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>