<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="well comparison eatery-well animated bounceInLeft">
      <h3 class="responsive-text"><%= link_to @eatery.name, eatery_reviews_path(@eatery) %></h3>
      <div class="row">
        <div class="col-sm-6 col-xs-6"><h5 class="smallr" style="padding-right:4px;">Scores:</h5></div>
        <div class="col-sm-6 col-xs-6 pull-right">
          <h5 class="smallr eaterytotal pull-right">Average: <%= '%.2f' % @eatery.total_average %></h5>
        </div>
      </div>
      <p class="text-center">Price</p>
      <%= render partial: "/eateries/average_bar", locals: { property: @eatery.average_price }, id: "eatery_price" %>
      <p class="text-center">Portion</p>
      <%= render partial: "/eateries/average_bar", locals: { property: @eatery.average_portion } %>
      <p class="text-center">Taste</p>
      <%= render partial: "/eateries/average_bar", locals: { property: @eatery.average_taste } %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="well comparison kent-well animated bounceInRight">
      <h3 class="responsive-text"><%= link_to kents.name, root_path %></h3>
      <div class="row">
        <div class="col-sm-6 col-xs-6"><h5 class="smallr"style="padding-right:4px;">Scores:</h5></div>
        <div class="col-sm-6 col-xs-6 pull-right">
          <h5 class="smallr kentstotal pull-right">Average: <%= '%.2f' % kents.total_average %></h5>
        </div>
      </div>
      <p class="text-center">Price</p>
      <%= render partial: "/eateries/average_bar", locals: { property: kents.average_price } %>
      <p class="text-center">Portion</p>
      <%= render partial: "/eateries/average_bar", locals: { property: kents.average_portion } %>
      <p class="text-center">Taste</p>
      <%= render partial: "/eateries/average_bar", locals: { property: kents.average_taste } %>
    </div>
  </div>
</div>