<h1>All of the Eateries!</h1>
<div class="row">
  <div class="col-sm-12">
    <% @eateries.each do |eatery| %>
      <div class="well col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h3><%= link_to eatery.name, eatery, data: {no_turbolink: true} %></h2>
          </div>
          <div class="col-md-3 pull-right">
            <h3>Reviews: <%= eatery.reviews.count%></h3>
            <small><strong>Score: <%= '%.2f' % (eatery.total_average) %></strong></small>
          </div>
        </div>
        <small class="address"><%= eatery.address %></small>
        <p><%= eatery.description %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="page_info col-md-12 getaway">
    <%= page_entries_info @eateries %>
  </div>
  <div class="col-md-12">
    <%= will_paginate @eateries %>
  </div>
</div>
