<div class="row">
  <div class="col-xs-12 col-md-12"> 
    <h2><%= @eatery.name %></h2>
    <div class="row">
      <% if user_signed_in? %>
        <% if current_user.voted_for? @eatery %>
          <div class="col-xs-4 col-md-1"><%= link_to "Unlike", eatery_like_path(@eatery), method: :post, class: "btn btn-success btn-sm" %>
          </div>
        <% else %>
          <div class="col-xs-4 col-md-1"><%= link_to "Like", eatery_like_path(@eatery), method: :post, class: "btn btn-warning btn-sm" %>
          </div>
        <% end %>
      <% end %>
      <ul class="list-group col-xs-4 col-sm-3 col-md-3">
        <li class="list-group-item">Likes: <span class="badge"><%= @eatery.votes_for.size %></span></li>
      </ul>
    </div>
    
    <%= render "/eateries/comparison" %>
    
    <h4><%= @eatery.address %></h4>
    <div class="col-md-12 well">
      <div id="map" class="col-md-12 child"></div>
      <br>
      <h4>Some words about the eatery</h4>
      <p><%= @eatery.description %></p>
    </div>
    <hr>
  </div>
  <div class="col-md-12">
    <h2>Review <%= @eatery.name %></h2>
    <div class="getaway">
      <%= link_to "Compare it to Kent's!", new_eatery_review_path(@eatery), class: "btn btn-warning" %>
      <%= link_to "All Reviews (#{@eatery.reviews.count})", eatery_reviews_path(@eatery), class: "btn btn-primary" %>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Top Reviews for <%= @eatery.name %></h3>
        <% @top_reviews.each do |review| %>
        <div class= "well col-md-4 top-reviews">
          <div class="pull-left teenyweeny">
            Likes: <%= review.votes_for.count %>
          </div>
          <div class="user-window pull-right">
            By: <%= link_to review.full_name, review.profile, class: "teenyweeny" %>
          </div>
          <h3><%= link_to truncate(review.title, length: 30), eatery_review_path(@eatery, review) %></h3>
          <p><%= simple_format truncate(review.description, length: 125) %></p>
          <hr>
          <strong>Average Score: <h4><%= average(review) %></h4></strong>
          <div class="progress" style="border: 1px solid;">
            <div class="progress-bar progress-bar-danger avgbar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="10" style="width: <%= average_bar(review) %>%; border: 1px solid black;" >
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-12">
      <%= link_to "More Photos (#{@gallery.pictures.length - @pictures.length})",
      eatery_gallery_path(@eatery, @eatery.gallery), class: "btn btn-info getaway" %>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 transitions-enabled" id="gallery-show">
      <% @pictures.each do |pic| %>
        <div class="well" style="padding: 2px;">
          <%= image_tag pic.picture.url(:thumb), class: "img-responsive" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw generate_map_json([@eatery]).to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  });

</script>