<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
  <h4 style="text-align: center;"><strong>Price: <%= @review.price %></strong></h4>
  <div class="progress">
    <div class="progress-bar progress-bar-success pricebar" role="progressbar" aria-valuenow="<%= price(@review) %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= price_percent(@review) %>%;" >
    </div>
  </div>
  <h4 style="text-align: center;"><strong>Portion: <%= @review.portion %></strong></h4>
  <div class="progress">
    <div class="progress-bar progress-bar-info portionbar" role="progressbar" aria-valuenow="<%= portion(@review) %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= portion_percent(@review) %>%;" >
    </div>
  </div>
  <h4 style="text-align: center;"><strong>Taste: <%= @review.taste %></strong></h4>
  <div class="progress">
    <div class="progress-bar progress-bar-warning tastebar" role="progressbar" aria-valuenow="<%= taste(@review) %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= taste_percent(@review) %>%;" >
    </div>
  </div>
</div>    