<div class="row">
  <div class="col-sm-12">
    <%= link_to "Back", eatery_reviews_path(@review.eatery),
    class: "btn btn-primary getaway" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-2" style="margin-bottom: 3px;">
          <% if user_signed_in? %>
            <% if current_user.voted_for? @review %>
              <%= link_to "<i class='fa fa-heart fa-2x'></i>".html_safe,
              eatery_review_like_path(@eatery, @review), method: :post,
              class: "pulse animated infinite" %>
            <% else %>
              <%= link_to "<i class='fa fa-heart-o fa-2x'></i>".html_safe, 
              eatery_review_like_path(@eatery, @review), method: :post %>
            <% end %>
          <% end %>
            <span class="badge"><%= number_of_likes(@review) %></span>
          </div>
          <%= render "/shared/share_buttons" %>
          <div class="pull-right teenyweeny">
            By: <%= link_to @review.full_name, @review.profile %>
          </div>
        </div>
      </div>
      <h1><%= @review.title %></h1>
      <p><%= simple_format @review.description %></p>
      <hr>
      <%= render partial: "reviews/verified", locals: { review: @review } %>
      <%= render "reviews/review_bars" %>
      
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= %>
            <% if current_user == @review.user %>
              <%= link_to "Edit", edit_eatery_review_path, class: "btn btn-info" %>
              <%= link_to "Delete", eatery_review_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
