<%= link_to "Back to #{@review.eatery.name}", @review.eatery, class: "btn btn-primary getaway" %>
<div class="row">
  <div class="well col-xs-12 col-md-8 col-md-offset-2">
    <h1><%= @review.title %></h1>
    <p><%= simple_format @review.description %></p>
    <hr>

<!--- 
  TODO: FIX THESE MOTHERFUCKING PROGRESS BARS
-->

<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-success pricebar" role="progressbar" aria-valuenow="#{price}" aria-valuemin="0" aria-valuemax="10" style="width: 90%;" >
    <strong>Price: <%= @review.price %></strong> 
  </div>
</div>
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-info portionbar" role="progressbar" aria-valuenow="#{portion}" aria-valuemin="0" aria-valuemax="10" style="width: 90%;" >
    <strong>Portion: <%= @review.portion %> </strong> 
  </div>
</div>
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-warning tastebar" role="progressbar" aria-valuenow="#{taste}" aria-valuemin="0" aria-valuemax="10" style="width: 90%;" >
    <strong>Taste: <%= @review.taste %> </strong> 
  </div>
</div>    
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <% if current_user == @review.user %>
          <%= link_to "Edit", edit_eatery_review_path, class: "btn btn-info" %>
          <%= link_to "Delete", eatery_review_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
