<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseOne">
          Most Liked Eateries
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <% popular_eats.each do |pop| %>
          <div class="well">
            <h4><%= link_to pop.name, pop, data: {no_turbolink: true} %></h4>
            <small><%= pop.address %></small>
            <br>
            <small><strong>Likes: <%= pop.votes_for.count %></strong></small>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse"href="#collapseTwo">
          Top 3 Rated Eateries
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        <% hall_of_fame.each do |hof| %>
          <div class="well">
            <h4><%= link_to hof.name, hof, data: {no_turbolink: true} %></h4>
            <small><%= hof.address %></small>
            <br>
            <small><strong>Score: <%= '%.2f' % (hof.total_average) %></strong></small>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse"href="#collapseThree">
          Most Recent Reviews
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
        <% recent_reviews.each do |review| %>
          <div class="well">
            <h4><%= link_to review.title, eatery_review_path(review.eatery, review) %></h4>
            <small>Rating: <%= average(review) %></small>
            <br>
            <small><strong><%= link_to review.eatery.name, review.eatery, data: {no_turbolink: true} %></strong></small>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
